services:
  sionna:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sionna-worker
    # No longer need pip install in command as it is in Dockerfile
    command: tail -f /dev/null
    working_dir: /mnt/nas_data/sionna-sim
    volumes:
      - /mnt/nas_data:/mnt/nas_data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    network_mode: host
    restart: unless-stopped
